extends ../../layouts/page

include ../../blocks/bullet-list/bullet-list
include ../../blocks/about-room/about-room
include ../../blocks/user-feedback/user-feedback
include ../../blocks/card-buy-room/card-buy-room
include ../../blocks/doughnut-chart/doughnut-chart

block vars
  include ./const.pug

block main
  main.room-details-page
    section.room-details-page__photos
      img(src="../../pages/room-details/img/room-888/room-888-1.jpg" alt="Фото большая комната").room-details-page__photo
      img(src="../../pages/room-details/img/room-888/room-888-2.jpg" alt="Фото маленькая комната").room-details-page__photo
      img(src="../../pages/room-details/img/room-888/room-888-3.jpg" alt="Фото кабинет").room-details-page__photo
    .room-details-page__body
      section.room-details-page__info
        .room-details-page__info-block
          div
            p.room-details-page__info-header Сведения о номере
            +about-room({title: "Комфорт", subtitle: "Шумопоглощающие стены", icon: "insert_emoticon"})
            +about-room({title: "Удобство", subtitle: "Окно в каждой из спален", icon: "location_city"})
            +about-room({title: "Уют", subtitle: "Номер оснащен камином", icon: "whatshot"})
          div   
            p.room-details-page__info-header Впечатления от номера
            .room-details-page__info-diagram
              +doughnut-chart({total: 260})
        .room-details-page__info-block
          .room-details-page__info-block-feedbacks
            p.room-details-page__info-header Отзывы посетителей номера
            p.room-details-page__info-subtitle 2 отзыва
          +user-feedback({user: user_murad})
          +user-feedback({user: user_patricia})
        .room-details-page__info-block
          div
            p.room-details-page__info-header.room-details-page__info-header-rule Правила
            +bullet-list({list: bullet})
          .room-details-page__info-block-cancel  
            p.room-details-page__info-header Отмена
            p.room-details-page__info-cancel-text=cancel
      section.room-details-page__booking
        +card-buy-room()

