@import "../../vars.scss";
@import "../../text-presets.scss";

.room-details-page {
  flex: 1 0 auto;
  border-bottom: 1px solid $dark25;
  &__body {
    max-width: 1160px;
    margin: 0 auto;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    @media (max-width: 1070px) {
      justify-content: space-around;
    }

    @media (max-width: 750px) {
      flex-wrap: wrap;
    }
  }
  &__photos {
    width: 100%;
    margin: 0 auto;
    &:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
    }
  }
  &__photo {
    float: left;
    width: 31.9%;
    height: 100%;
    @media (max-width: 740px) {
      display: none;
    }

    &:first-child {
      width: 68.1%;
      @media (max-width: 740px) {
        display: block;
        width: 100%;
      }
    }
    &:last-child {
      position: relative;
      top: -1px;
    }
  }
  &__info {
    max-width: 711px;
    margin-right: 10px;
    @media (max-width: 1070px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-block {
      &:first-child,
      &:last-child,
      &-feedbacks {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1070px) {
          display: block;
        }
      }
      &:last-child {
        @media (max-width:345px) {
          margin-left: 25px;
        }
      }

      & .about-room:last-child {
        border-bottom: none;
        margin-bottom: 0px;
        & .about-room__icon {
          margin-bottom: 4px;
        }
      }
      & .user-feedback {
        @media (max-width: 1024px) {
          max-width: 400px;
        }
        @media (max-width: 450px) {
          max-width: 300px;
        }
      }
      & .user-feedback:last-child {
        margin-top: 24px;
        margin-bottom: 4px;
      }
      & .bullet-list {
        min-width: 266px;
      }
      &-cancel {
        margin-top: -1px;
        margin-right: 10px;
      }
    }
    &-diagram {
      max-width: 349px;
      @media (max-width: 450px) {
        max-width: 290px;
      }
    }
    &-cancel-text {
      max-width: 340px;
      line-height: 24px;
      margin-bottom: 90px;
      @media (max-width: 450px) {
        max-width: 300px;
      }
    }
    &-header {
      @extend .font-subtitle;
      margin-top: 30px;
      margin-bottom: 20px;
      &-rule {
        margin-left: 20px;
        margin-bottom: 18px;
      }
      @media (max-width: 450px) {
        margin-left: 0px;
      }
    }
    &-subtitle {
      position: relative;
      top: 36px;
      color: $dark50;
      line-height: 14px;
      @media (max-width: 1070px) {
        display: none;
      }
    }
  }
  &__booking {
    @media (max-width: 750px) {
      flex-direction: column;
      align-items: center;
      order: -1;
    }
    & .card-buy-room {
      margin-top: 30px;
    }
  }
}
