mixin radio()
  span.radio
    label.radio__content Мужчина
      input(type="radio" name="gender" checked).radio--hidden.radio--primary
      .radio--show
  span.radio
    label.radio__content Женщина
      input(type="radio" name="gender" ).radio--hidden.radio--primary
      .radio--show
