mixin radio()
   span.radio
      input(type="radio" name="gender" id="male" checked).radio__box
      label(for="male").radio__content.font-body Мужчина
   span.radio
      input(type="radio" name="gender" id="female").radio__box
      label(for="female").radio__content.font-body Женщина
