mixin radio()
  span.radio
    label.radio__content Мужчина
      input(type="radio" name="gender" checked).radio__wrapper
      .radio__thumb
  span.radio
    label.radio__content Женщина
      input(type="radio" name="gender" ).radio__wrapper
      .radio__thumb
