include ../title/title
include ../arrow-button/arrow-button

mixin arrow-buttons()
  section.arrow-buttons
    +title("Arrow buttons")
    .arrow-buttons__row
      +arrow-button({ direction: "left", color: "primarySolid", isDisabled: false })
      +arrow-button({ direction: "right", color: "primarySolid", isDisabled: false })
      +arrow-button({ direction: "left", color: "primarySolid", isDisabled: true })
      +arrow-button({ direction: "right", color: "primarySolid", isDisabled: true })
      +arrow-button({ direction: "left", color: "primary", isDisabled: false })
      +arrow-button({ direction: "right", color: "primary", isDisabled: false })