@import "../../vars.scss";

.doughnut-chart {
  display: flex;
  &__diagram {
    position: relative;
    &-body {
    }
    &-wrap {
      position: absolute;
      z-index: 5;
      width: 112px;
      height: 112px;
      top: 4px;
      left: 4px;
      background: #ffffff;
      border-radius: 50%;
      &::after {
        position: absolute;
        content: " ";
        z-index: 4;
        top: -4px;
        left: 55px;
        width: 2px;
        height: 120px;
        background: #ffffff;
      }
      &::before {
        position: absolute;
        content: " ";
        z-index: 4;
        top: 55px;
        left: 110px;
        width: 10px;
        height: 2px;
        background: #ffffff;
      }
    }
    &-great {
      width: 120px;
      height: 120px;
      background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
      border-radius: 50%;
    }
    &-good {
      position: absolute;
      z-index: 2;
      width: 60px;
      height: 60px;
      top: 0px;
      left: 60px;
      background: $primary-gradient;
      border-top-right-radius: 100%;
    }
    &-norm {
      position: absolute;
      z-index: 3;
      width: 60px;
      height: 60px;
      top: 60px;
      left: 60px;
      background: $secondary-gradient;
      border-bottom-right-radius: 100%;
    }
    &-counter {
      color: $primary-color;
      text-align: center;
      position: relative;
      top: -84px;
      z-index: 6;

      &-value {
        @extend .font-title;
        color: $primary-color;
      }
      &-voice {
        font-size: 15px;
      }
    }
  }
  &__legend {
    width: 170px;
    margin-left: 30px;
    position: relative;
    top: 34px;
    @media (max-width: 390px) {
      margin-left: 15px;
    }
    &-content {
      display: inline-flex;
      position: relative;
      bottom: 7px;
      font-size: 14px;
      margin-bottom: 4px;
      color: $dark75;
      &::before {
        content: "";
        margin-right: 5px;
        position: relative;
        top: 3px;
        left: 0.5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
      }
      &:nth-child(1) {
        &::before {
          background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
        }
      }
      &:nth-child(2) {
        &::before {
          background: $secondary-gradient;
        }
      }
      &:nth-child(3) {
        &::before {
          background: $primary-gradient;
        }
      }
    }
  }
}
