extends ../../layouts/page

include ../../blocks/card-login/card-login

block vars
  - const title = "Войти"
  -
    const footerFullBlocksData = [
      ["Навигация", "О нас", "Новости", "Служба поддержки", "Услуги"],
      ["О нас", "О сервисе", "Наша команда", "Вакансии", "Инвесторы"],
      ["Служба поддержки", "Соглашения", "Сообщества","Связь с нами"]
      ]

block main
  main.login-page
    .login-page__body
      section.login-page__card
        +card-login()