@import "../../vars.scss";

.checkbox-expand-list {
  margin-top: 25px;
  margin-bottom: 49px;
  &__title {
    position: relative;
    @extend .font-label;
    cursor: pointer;
    margin-bottom: 17.5px;
  }
  &__icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
    position: absolute;
    color: $dark50;
    right: 10.5px;
    top: -4px;
  }
  &__content {
    display: none;
    &_open {
      display: block;
    }
  }
}
