include ../checkbox/checkbox

mixin checkbox-expand-list(options)
   - const { title, expandList = [], isOpen, width } = options
      -const icon = isOpen ? "expand_less" : "expand_more"
      -const contentClass = isOpen ? "checkbox-expand-list__content_open" : "checkbox-expand-list__content"

         .checkbox-expand-list(class=`${width}-block`)
            .checkbox-expand-list__title=title
               i.material-icons.checkbox-expand-list__icon=icon 
            wrap(class=`${contentClass}`).checkbox-expand-list__content
               +checkbox({list: expandList})
