@import "../../vars.scss";

@mixin spaceAroundBtn {
   margin-bottom: 30px;
   margin-right: 20px;
}

@mixin ovalBtn {
   @extend .font-label;
   @include spaceAroundBtn;
   padding: 14px 20px 15px 20px;
   border-radius: 22px;
}

@mixin byClick {
   &:active {
      opacity: 0.85;
   }
}

.btnStyleFill {
   &:disabled {
      cursor: default;
      opacity: 0.5;
   }
   @include ovalBtn;
   @include byClick;
   background: $primary-gradient;
   color: $white-text;
}
.btnStyleVoid {
   &:disabled {
      cursor: default;
      border-color: transparentize($color: $primary-color, $amount: 0.5);
   }
   @include ovalBtn;
   @include byClick;
   @include gradientBorder;
   $border: 2px;
   border: solid $border transparent;  
   &:before {
      margin: -$border;  
   }
}
.btnStyleText {
   &:disabled {
      cursor: default;
      color: $dark50;
   }
   @extend .font-label;
   @include spaceAroundBtn;
   @include byClick;
   background: transparent;
   color: $primary-color;
}
.btnStyleFillArrow {
   &:disabled {
      cursor: default;
      opacity: 0.5;
   }
   &__arrow {
      font-size: 24px;
      line-height: 24px;
      display: flex;
      position: relative;
      left: 95%;
      bottom: 19px;
   }
   width: 100%;
   height: 44px;
   @include ovalBtn;
   @include byClick;
   color: $white-text;
   background: $primary-gradient;
}
