
mixin button(attr)
  - let classStyle, arrow
  - const { isActive, title, style, page } = attr
  - const status = isActive ? "" : "button_disable" 
    case style 
      when "fillArrow"
        - classStyle = "fill-arrow"
        - arrow = "arrow_forward"
      when "fill"
        - classStyle = style
      when "void"
        - classStyle = style
      default 
        - classStyle = "text"
    a(href=`${page}` class=`button ${status} button_style_${classStyle} `)=title
