@import "../../vars.scss";

@mixin ovalBtn {
  @extend .font-label;
  padding: 13px 20px 15px 18px;
  border-radius: 22px;
  border: 0;
  outline: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

@mixin byClick {
  &:active {
    opacity: 0.85;
  }
}

.button {
  &_disable {
    cursor: default;
    opacity: 0.5;
  }
  &_style {
    &_fill {
      @include ovalBtn;
      @include byClick;
      background: $primary-gradient;
      color: $white-text;
      margin-right: -5px;
    }
    &_void {
      width: 99px;
      height: 44px;
      position: relative;
      @include ovalBtn;
      color: $primary-color;
      background: white;
      margin-right: -5px;
      box-shadow:
        1px 1px 0px 0.5px rgba(188, 156, 255, 1) inset,
        -1px 1px 0px 0.5px rgba(188, 156, 255, 1) inset,
        -1px -1px 0px 0.5px rgba(139, 164, 249, 1) inset,
        1px -1px 0px 0.5px rgba(139, 164, 249, 1) inset;
    }
    &_text {
      border: 0;
      outline: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      @extend .font-label;
      @include byClick;
      background: transparent;
      color: $primary-color;
      padding-left: 0px;
      padding-right: 0px;
    }
    &_fill-arrow {
      width: 100%;
      height: 44px;
      @include ovalBtn;
      @include byClick;
      color: $white-text;
      background: $primary-gradient;
      padding-left: 95px;
    }
  }
  &__arrow {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 15px;
    text-transform: none;
    margin-left: 49px;
    position: relative;
    top: 9px;
    left: 10px;
  }
}
.button_disable.button_style_text {
  color: $dark50;
}
