include ../title/title
include ../toggle/toggle

mixin toggles()
  section.toggles
    +title("Toggles")
    .toggles__row
      .toggles__item
        +toggle({ isChecked: false })
      .toggles__item
        +toggle({ isChecked: true })