@import "../../vars.scss";

.roomThumbnail {
   width: 270px;
   height: 257px;
   background: #ffffff;
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
   border-radius: 4px;

   &__roomPhotos {
      margin-bottom: 20px;
      height: 151.44px;
         &:hover {
            .roomThumbnail__roomPhotos-carousel-left,
            .roomThumbnail__roomPhotos-carousel-right {
               visibility: visible;
            }
         }
      &-photo {
         border-top-left-radius: 4px;
         border-top-right-radius: 4px;
      }
      &-carousel {
         display: flex;
         justify-content: space-between;
         position: relative;
         top: -99px;
         color: #ffffff;
         &-left {
            visibility: hidden;
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 44px;
            width: 150px;
            transform: rotate(90deg);
            cursor: pointer;
            left: -53px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
            border-bottom-left-radius: 4px;
         }
         &-right {
            visibility: hidden;
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 44px;
            width: 150px;
            transform: rotate(-90deg);
            cursor: pointer;
            left: 173px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
            border-bottom-right-radius: 4px;
         }
         &-nav {
            position: relative;
            transform: rotate(-90deg);
            top: 57px;
            left: 233px;
            &-circle {
               margin-bottom: 3.75px;
               width: 7.5px;
               height: 7.5px;
               border: 1px solid #FFFFFF;
               border-radius: 50%;
               filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
               &_active {
                  @extend .roomThumbnail__roomPhotos-carousel-nav-circle;
                  background: #ffffff;
               }
            }
         }
      }
   }
   &__roomInfo {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0px 20px 10px 20px;

      &-number {
         position: relative;
         font-family: "Montserrat", sans-serif;
         font-weight: 700;
         color: $dark100;
         font-size: 19px;
         line-height: 23.75px;
   
         &::before {
            content: "№ ";
            position: relative;
            font-size: 14px;
            line-height: 17px;
         }
      }
      &-luxe {
         font-weight: 700;
         font-size: 12px;
         line-height: 15px;
         text-transform: uppercase;
         color: $primary-color;
         }
      &-cost {
         font-weight: 700;
         font-size: 14px;
         line-height: 18px;
         color: $dark50;
         }
      &-period {
         font-weight: 400;
         font-size: 12px;
         line-height: 18px;
         color: $dark50;
         }
   }
   &__line {
      margin: 0 auto;
      width: 230px;
      border-top: 1px solid $dark10;
   }
   &__roomFeedback {
      margin: 10px 20px 0px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-value {
         position: relative;
         left: 9px;
         font-weight: 700;
      }
   }
}

