@import '../../vars.scss';

.form-elements {
  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 2.1rem;

    @media(max-width: $xs) {
      display: block;
    }
  }

  &__form {
    flex-grow: 1;
    margin-top: 1.17rem;
    margin-right: 3%;

    @media(max-width: $xs) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &__right-block {
    padding: 0 11.5%;

    @media(max-width: $xs) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &__tick-boxes {
    margin-top: 2.25rem;
  }

  &__widget {
    flex-grow: 1;
    margin: 2.7rem 0 0;

    @media(max-width: $xs) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &__user-profiles {
    width: 51.5%;
    padding-left: 6%;
    margin: 2.7rem 0 0;

    @media(max-width: $xs) {
      width: 23rem;
      margin: 0 auto;
    }
  }
}