mixin hamburger-menu(burgerList)
  .hamburger-menu
    .hamburger-menu__button.js-hamburger-menu__button.hamburger-menu__button_hide
    ul.hamburger-menu__box.js-hamburger-menu__box.hamburger-menu__box_hide
      each item in burgerList
        li
          a(href=item[1]).hamburger-menu__item=item[0]
