@import "../../vars.scss";

.hamburger-menu {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  &__button {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    line-height: 32px;
    text-transform: none;
    color: $dark50;
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 9;
    border: 0;
    background: none;
    display: none;
    transition-duration: 0.25s;
    @media (max-width: 956px) {
      display: block;
    }
    &_checked {
      position: fixed;
    }
  }
  &__box {
    display: block;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

    transition-duration: 0.25s;
    &_hide {
      visibility: none;
      left: -100%;
      z-index: 0;
    }
  }
  &__item {
    text-decoration: none;
    display: block;
    padding: 12px 24px;
    @extend .font-body;
    &:hover {
      background-color: #cfd8dc;
    }
  }
}