@import "../../vars.scss";

.about-room {
  border-bottom: 1px solid $dark10;
  max-width: 280px;
  display: flex;
  margin-bottom: 20px;

  &__title {
    margin-left: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: $dark75;
  }
  &__subtitle {
    font-weight: 400;
  }
  &__icon {
    @include gradient-text;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    line-height: 48px;
    text-transform: none;
    margin-bottom: 20px;
  }
}
