mixin about-room(options)
   - const { title, subtitle, icon } = options
      .about-room
         i.about-room__icon.material-icons=icon
         .about-room__title=title 
            .about-room__subtitle=subtitle
