include ../textfield/textfield
include ../button/button
include ../dropdown/dropdown

mixin findRoom ()
   .findRoom
      .findRoom__body
         h1.findRoom__title.font-title Найдём номера под ваши пожелания
         .findRoom__inOut 
            h3.font-label прибытие
               +textfield({ placeholder: "ДД.ММ.ГГГГ", calendar: "on", width: "xsm", dropdown: 1})
            h3.font-label выезд
               +textfield({ placeholder: "ДД.ММ.ГГГГ", calendar: "on", width: "xsm", dropdown: 1})
         .findRoom__guests 
            h3.font-label гости
            +dropdown({ itemList: guests, width: "def", type: "sum" })
         .findRoom__button
            +button({ active: "yes", title: "подобрать номер", style: "fillArrow"})


