mixin map(data)
  - const { coordinates, address } = data;
  .map.js-map
    .map__body.js-map__body(data-coordinates=coordinates)
    .map__footer
      .map__greetings Meet us!
      address.map__address= address
      .map__buttons
        button.map__button.map__button_icon_location
        button.map__button.map__button_icon_pin