include ../title/title
include ../tick-box/tick-box

mixin tick-boxes()
  section.tick-boxes
    +title("Tick boxes")
    .tick-boxes__row
      .tick-boxes__item
        +tick-box(true)
      .tick-boxes__item
        +tick-box(false)