mixin rate-stars(startNumber)
  .rate-stars
    - let i= 1;
      while i<6
        span(class="rate-stars__star material-icons" data-rating=i++) 
    input(type="hidden" class="rating-value" value=`${startNumber}`)   
