mixin checkbox(options)
  - const { list } = options
    each content in list
      .checkbox
        label.checkbox__content=content.title
          input(type="checkbox" checked=content.isChecked).checkbox__wrapper
          .checkbox__thumb
