@import '../../vars.scss';

.checkbox {
   margin-bottom: 10px;
   width: 230px;
}
.checkbox__box:checked, 
.checkbox__box:not(:checked)
{
    position: absolute;
    left: -9999px;
}

.checkbox__box:checked + .checkbox__content, 
.checkbox__box:not(:checked) + .checkbox__content {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    line-height: 20px;
    color: $dark50;
    cursor: pointer;
}

.checkbox__box:checked + .checkbox__content:before,
.checkbox__box:not(:checked) + .checkbox__content:before {
   content: "";
   position: absolute;
   left: 0px;
   top: 0px;
   width: 20px;
   height: 20px;
   border: 1px solid $primary-color;
   border-radius: 4px;
   background-color: #ffffff;
} 
.checkbox__box:not(:checked) + .checkbox__content:before {
   border-color: $dark25;
}

.checkbox__box:checked + .checkbox__content:after, 
.checkbox__box:not(:checked) + .checkbox__content:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
}

.checkbox__box:checked + .checkbox__content:after, 
.checkbox__box:not(:checked) + .checkbox__content:after {
    left: 6px;
    top: 5.5px;
    width: 8px;
    height: 6px;
    border-left: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
    transform: rotate(-45deg);
}



.checkbox__box:not(:checked) + .checkbox__content:after {
    opacity: 0;
}

.checkbox__box:checked + .checkbox__content:after {
    opacity: 1;
}
