@import "../../vars.scss";

.checkbox {
  margin-bottom: 10px;
  width: 230px;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.checkbox__content {
  display: block;
  position: relative;
  padding-left: 30px;
  top: 0px;
  line-height: 20px;
  color: $dark50;
  cursor: pointer;
  .checkbox--show {
    &:after {
      left: 7px;
      top: 4px;
      width: 3px;
      height: 6px;
      border: solid $primary-color;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}
.checkbox--hidden {
  display: none;
  &:checked {
    & ~ .checkbox--show {
      &:after {
        display: block;
      }
    }
  }
}
.checkbox--show {
  box-sizing: border-box;
  position: absolute;
  top: 1px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid $dark25;
  border-radius: 4px;
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}
.checkbox--primary {
  &:checked {
    & ~ .checkbox--show {
      border: 1px solid $primary-color;
    }
  }
}
