mixin checkbox(options)
   - const { list } = options
      each content, id in list
       .checkbox
         input(type='checkbox' id=`${content}`).checkbox__box
         label(for=`${content}`).checkbox__content.font-body=content
