include ../like-btn/like-btn

mixin user-feedback(attr)
   - const { user } = attr
      -const {username, avatar, lastActivity, feedback, likes, isLiked} = user
         .user-feedback
            .user-feedback__left 
               img(src=`${avatar}`).user-feedback__avatar 
               +like-btn({value: likes, isLiked: isLiked})
            .user-feedback__right 
               .user-feedback__username=username
                  .user-feedback__lastActivity=lastActivity
               .user-feedback__feedback=feedback   
