.card-find-room {
  max-width: 380px;
  min-width: 300px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media (max-width: 362px) {
    width: 315px;
  }
  &__title {
    margin: 0;
  }
  &__body {
    padding: 40px 30px 30px 28px;
    @media (max-width: 362px) {
      padding: 30px 6px 20px 6px;
    }
  }
  &__in-out {
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    .font-label {
      margin: 0;
    }
  }
  &__guests {
    margin-top: 13px;
  }
  &__button {
    margin-top: 29px;
  }
}
