include ../textfield/textfield
include ../dropdown/dropdown
include ../button/button


mixin card-find-room ()
   .card-find-room
      .card-find-room__body
         h1.card-find-room__title.font-title Найдём номера под ваши пожелания
         .card-find-room__in-out 
            h3.font-label прибытие
               +textfield({ placeholder: "ДД.ММ.ГГГГ", calendar: "on", width: "xsm", dropdown: 1})
            h3.font-label выезд
               +textfield({ placeholder: "ДД.ММ.ГГГГ", calendar: "on", width: "xsm", dropdown: 1})
         .card-find-room__guests 
            h3.font-label гости
            +dropdown({ itemList: guests, width: "def", type: "sum" })
         .card-find-room__button
            +button({ active: "yes", title: "подобрать номер", style: "fillArrow"})


