-
  const title = "UI-Kit Form elements";
-
  const apartment = ["Спальни", "Кровати", "Ванные комнаты"]
-
  const guests = ["Взрослые", "Дети", "Младенцы"]
-
  const checkboxList = [
    {title: "Можно курить"}, 
    {title: "Можно с питомцами", isChecked: true}, 
    {title:"Можно пригласить гостей (до 10 человек)", isChecked: true}
    ]
-
  const expandableList = [
    {title:"Завтрак"}, 
    {title:"Письменный стол", isChecked: true}, 
    {title:"Стул для кормления", isChecked: true}, 
    {title:"Кроватка", isChecked: true}, 
    {title:"Телевизор"}, 
    {title:"Шампунь"}, 
    {title:"Телевизор2"}, 
    {title:"Шампунь2"}
    ]
-
  const richList = [
    {
      title: "Широкий коридор", 
      subtitle:"Ширина коридоров в номере <br>не менее 91 см."
      }, 
    {
      title: "Помощник для инвалидов", 
      subtitle:"На 1 этаже вас встретит специалист  и проводит до номера."
      }
    ]
-
  const bullet = [
    "Нельзя с питомцами", 
    "Без вечеринок и мероприятий", 
    "Время прибытия — после 13:00, <br>а выезд до 12:00"
    ]
-
  const user_murad = {
    username: "Мурад Сарафанов", 
    avatar: "../../blocks/user-feedback/img/user-murad.jpg", 
    lastActivity: "5 дней назад", 
    likes: 12, 
    isLiked: true, 
    feedback: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
    }
-
  const user_patricia = {
    username: "Патрисия Стёклышкова", 
    avatar: "../../blocks/user-feedback/img/user-patricia.jpg", 
    lastActivity: "Неделю назад", 
    likes: 2, 
    feedback: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"
    }
