extends ../../layouts/base

include ../../blocks/textfield/textfield
include ../../blocks/dropdown/dropdown
include ../../blocks/checkbox/checkbox
include ../../blocks/radio/radio
include ../../blocks/toggle/toggle
include ../../blocks/like-btn/like-btn
include ../../blocks/rate-stars/rate-stars
include ../../blocks/button/button
include ../../blocks/pagination/pagination
include ../../blocks/checkbox-expand-list/checkbox-expand-list
include ../../blocks/rich-checkbox/rich-checkbox
include ../../blocks/bullet-list/bullet-list
include ../../blocks/about-room/about-room
include ../../blocks/user-feedback/user-feedback
include ../../blocks/range-slider/range-slider
include ../../blocks/global-menu-button/global-menu-button

block vars
  include ./const.pug

block content
  +global-menu-button()
  section.form-elements

    .form-elements__row

      .form-elements__column
        div
          .form-elements__element-title
            span.form-elements__main-title text field
            span.form-elements__sub-title default
          +textfield({ type: "email", placeholder: "Email", })

          .form-elements__element-title
            span.form-elements__main-title text field
            span.form-elements__sub-title Hover / Focus
          +textfield({ type: "text", placeholder: "This is pretty awesome"})

          .form-elements__element-title
            span.form-elements__main-title dropdown
            span.form-elements__sub-title 
          +dropdown({ itemList: guests, type: "guests" })

          .form-elements__element-title
            span.form-elements__main-title masked text field
            span.form-elements__sub-title 
          +textfield({ calendar: "off",placeholder: "ДД-ММ-ГГГГ"})

        .form-elements__column-block
          section.form-elements__element-content
            span
              .form-elements__element-content-stars
                span.form-elements__main-title date Dropdown
                span.form-elements__sub-title 
              +textfield({ placeholder: "ДД.ММ.ГГГГ", calendar: "2in1", dropdown: 1, elId: "js-dd1"})
            span
              .form-elements__element-content-to
                span.form-elements__main-title date Dropdown
                span.form-elements__sub-title 
              +textfield({ placeholder: "ДД.ММ.ГГГГ", calendar: "2in1", dropdown: 1, elId: "js-dd2"})
        .form-elements__column-block
          .form-elements__element-title
            span.form-elements__main-title filter date dropdown
            span.form-elements__sub-title 
          +textfield({ placeholder: "ДД.ММ.ГГГГ", calendar: "on+range", dropdown: 1})

        .form-elements__element-title
          span.form-elements__main-title subscription text field
          span.form-elements__sub-title 
        +textfield({ type: "email", placeholder: "Email", subscribe: 1})

      .form-elements__column

        .form-elements__element-title.form-elements__element-title_title-margin
          span.form-elements__main-title Checkbox Buttons
          span.form-elements__sub-title 
        +checkbox({list: checkboxList})

        .form-elements__element-title.form-elements__element-title_title-margin
          span.form-elements__main-title Radio Buttons
          span.form-elements__sub-title 
        +radio("Мужчина", "gender", true)
        +radio("Женщина", "gender")

        .form-elements__element-title.form-elements__element-title_title-margin
          span.form-elements__main-title toggle
          span.form-elements__sub-title 
        +toggle({content: "Получать спецпредложения", isTurn: true})
        +toggle({content: "Получать спецпредложения"})

        .form-elements__element-title.form-elements__element-title_title-margin.form-elements__element-title_top
          span.form-elements__main-title like Button
          span.form-elements__sub-title 
        section.form-elements__element-content
          +like-btn({value: "2"})
          +like-btn({value: "12", isLiked: true})

        .form-elements__element-title.form-elements__element-title_title-margin
          span.form-elements__main-title rate Button
          span.form-elements__sub-title 
        section.form-elements__element-content
          span.form-elements__element-content-stars 
            +rate-stars(4)
          span
            +rate-stars(5)

      .form-elements__column

        .form-elements__element-title
        div
          +range-slider({
          min: 0,
          max: 16000,
          from: 5000,
          to: 10000,
          })

        .form-elements__element-title.form-elements__element-title_title-margin
          span.form-elements__main-title buttons
          span.form-elements__sub-title 
        p.form-elements__button-row
          span.form-elements__button-row
            +button({ isActive: true, title: "click me", style: "fill" })
          +button({title: "click me", style: "fill"})
        p.form-elements__button-row
          span.form-elements__button-row
            +button({ isActive: true, title: "click me", style: "void"})
          +button({ title: "click me", style: "void"})
        p.form-elements__button-row
          span.form-elements__button-row
            +button({ isActive: true, title: "click me", style: "text"})
          +button({ title: "click me", style: "text"})
        p.form-elements__button-big
          +button({ isActive: true, title: "перейти к оплате", style: "fillArrow"})

        .form-elements__element-title.form-elements__element-title_title-margin
          span.form-elements__main-title pagination
          span.form-elements__sub-title 
        +pagination({
          source: JSON.stringify([...Array(180).keys()]),
          pageSize: 12,
          pageRange: 1,
        })

    .form-elements__row

      .form-elements__column

        .form-elements__element-title.form-elements__element-title_width
          span.form-elements__main-title dropdown
          span.form-elements__sub-title default
        +dropdown({ itemList: apartment, 
          type: "rooms" })

        .form-elements__element-title.form-elements__element-title_width
          span.form-elements__main-title dropdown
          span.form-elements__sub-title expanded
        +dropdown({ itemList: apartment, 
          type: "rooms" })

      .form-elements__column

        .form-elements__element-title
          span.form-elements__main-title dropdown
          span.form-elements__sub-title 
        +dropdown({ itemList: guests, type: "guests" })

      .form-elements__column

        .form-elements__element-title
          span.form-elements__main-title dropdown
          span.form-elements__sub-title 
        +dropdown({ itemList: guests, type: "guests" })

    .form-elements__row

      .form-elements__column

        +checkbox-expand-list({title: "expandable checkbox list"})
        +checkbox-expand-list({title: "expandable checkbox list", expandList: expandableList, isOpen: true})

      .form-elements__column

        .form-elements__element-title.form-elements__element-title_title-margin
          span.form-elements__main-title rich Checkbox Buttons
          span.form-elements__sub-title 
        +rich-checkbox({list: richList})

      .form-elements__column

        .form-elements__element-title.form-elements__element-title_title-margin
          span.form-elements__main-title bullet list
          span.form-elements__sub-title 
        +bullet-list({list: bullet})

    .form-elements__row

      .form-elements__column

        +about-room({title: "Комфорт", subtitle: "Шумопоглощающие стены", icon: "insert_emoticon"})
        +about-room({title: "Удобство", subtitle: "Окно в каждой из спален", icon: "location_city"})

      +user-feedback({user: user_murad})
