@import "../../vars.scss";

.form-elements {
  max-width: 1110px;
  min-width: 675px;
  margin: 145px auto;
  a,
  a:visited {
    text-decoration: none;
  }
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    :last-child {
      margin-bottom: 0px;
    }
  }
  &__column {
    min-width: 320px;
    & .range-slider {
      margin-bottom: 67px;
      max-width: 266px;
    }
    .radio {
      .radio__content {
        margin-top: -1px;
        margin-bottom: 22px;
      }
    }
    .checkbox:nth-child(4) {
      margin-bottom: 37px;
    }
    .dropdown {
      margin-bottom: 24px;
    }
    .like-btn {
      margin-bottom: 20px;
    }
    &-block {
      margin-top: 40px;
      margin-bottom: 40px;
      .form-elements__element-content {
        margin-top: -2px;
      }
    }
    .checkbox-expand-list__content {
      .checkbox:nth-child(4) {
        margin-bottom: 11px;
      }
      }
  }
  &__element-title {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    &_title-margin {
      margin-bottom: 16px;
    }
    &_top {
      margin-top: 48px;
    }
    &_width {
      max-width: 266px;
    }
    :first-child {
      margin-top: 0px;
    }
  }
  &__element-content {
    display: flex;
    &-stars {
      margin-right: 20px;
    }
    &-to, &-to ~ .textfield {
      margin-left: 20px;
    }
  }
  &__main-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark100;
  }
  &__sub-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark50;
  }
  &__button-row {
    &:nth-child(4) {
      margin-top: 28px;
      margin-bottom: 57px;
    }
    &:nth-child(1) {
      margin-right: 26px;
    }
    &:nth-child(5) {
      margin-bottom: 43px;
    }
    &:nth-child(6) {
      margin-bottom: 36px;
    }
  }
  &__button-big {
    margin-bottom: 56px;
  }
}
