.card-registration {
  width: 380px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 19px;
  margin-bottom: 19px;
  @media (max-width: 400px) {
    width: 312px;
  }
  &__title {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  &__label-birth {
    margin-top: 26px;
    margin-bottom: 5px;
  }
  &__label-login {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  &__chose-room-btn {
    margin-top: 22px;
    margin-bottom: 30px;
  }
  &__body {
    padding: 38px 30px 30px 28px;
    @media (max-width: 400px) {
      padding: 30px 8px 20px 8px;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
