.registration {
   width: 380px;
   background: #ffffff;
   border: 1px solid rgba(0, 0, 0, 0.12);
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   margin-top: 19px;
   margin-bottom: 19px;
   h1 {
      margin-top: 0;
   }
   &__title {
      margin-bottom: 20px;
   }
   &__label-birth {
      margin-top: 24px;
   }
   &__label-login {
      margin-top: 22px;
   }
   &__chose-room-btn {
      margin-top: 24px;
      margin-bottom: 30px;
   }
   &__body {
      padding: 38px 30px 30px 28px;
   }
   &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}
