@import '../../vars.scss';

.donut-chart {
  width: 8.17rem;
  height: 8.17rem;
  border-radius: 50%;
  transform: rotate(-90deg);
  fill: none;

  &__scale {
    animation: show100 2s;

    &_color {
      &_background {
        stroke: $background-primary;
      }

      &_primary {
        stroke: $primary;
      }

      &_secondary {
        stroke: $secondary;
      }

      &_chartdefault {
        stroke: $gray-darker;
      }
    }
  }

  &__background {
    fill: $white;
  }
}

@keyframes show100 {
  from {
    stroke-dasharray: 0 100;
  }
}