@import '../../vars.scss';

.standard-buttons {
  padding: 0 10.9%;

  @media(max-width: $xs) {
    padding: 0 2%;
  }

  &__title {
    margin-bottom: 5.17rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 1.83rem 0 0;
  }
}