include ../textfield/textfield
include ../dropdown/dropdown
include ../button/button

mixin card-buy-room ()
   .card-buy-room
      .card-buy-room__body
         .card-buy-room__header 
            wrap 
               span.card-buy-room__roomNumber 888
               span.card-buy-room__luxeRoom люкс
            wrap
               span.card-buy-room__cost  9 990₽ 
               span.card-buy-room__period в сутки 
         .card-buy-room__in-out
            .font-label прибытие
               +textfield({ placeholder: "ДД.ММ.ГГГГ", calendar: "on", width: "xsm", dropdown: 1})
            .font-label выезд
               +textfield({ placeholder: "ДД.ММ.ГГГГ", calendar: "on", width: "xsm", dropdown: 1})
         .card-buy-room__guests 
            .font-label гости
            +dropdown({ itemList: guests, width: "def", type: "sum" })
         .card-buy-room__cost-list 
            .card-buy-room__cost-list-row 
               span 9 990₽ х 4 суток
               span 39 960₽
            .card-buy-room__cost-list-row  
               span Сбор за услуги: скидка 2 179₽
               span.card-buy-room__cost-list-info-button
               span.card-buy-room__cost-list-item 0₽
            .card-buy-room__cost-list-row 
               span.card-buy-room__cost-list-row-ultra-item Сбор за дополнительные услуги
               span.card-buy-room__cost-list-info-button
               span 300₽
         .card-buy-room__result-row
            span Итого
            span.card-buy-room__dash-line
            span.card-buy-room__ultra-sum 38 081₽ 
         +button({ active: "yes", title: "забронировать", style: "fillArrow"})
