//- include ../standard-buttons/standard-buttons

//- include ../textfield/textfield
//- include ../dropdown/dropdown
include ../checkbox/checkbox

mixin main()
  section.main
  +checkbox({list: ['lol', 'kek', 'foo', 'baz']})

