-
   const uiPages = [
      {link: "./../colors-type/colors-type.pug", title: "Colors&Type"},
      {link: "./../form-elements/form-elements.pug", title: "Form elements"},
      {link: "./../cards/cards.pug", title: "Cards"},
      {link: "./../headers-footers/headers-footers.pug", title: "Headers&Footers"},
         ]
-
   const webPages = [
      {link: "./../landing/landing.pug", title: "Landing page"},
      {link: "./../find-room/find-room.pug", title: "Search room"},
      {link: "./../room-details/room-details.pug", title: "Room details"},
      {link: "./../registration/registration.pug", title: "Registration"},
      {link: "./../login/login.pug", title: "Sign in"},
      ]
