extends ../../layouts/base

block vars
  include ./const.pug
  - const title = "GLOBAL PROJECT NAV";
block content
  .root
    .root__header=title 
    .root__nav 
      ul.root__nav-column 
        each ui in uiPages
          li 
            a(href=`${ui.link}`).root__nav-element=ui.title
      ul.root__nav-column 
        each page in webPages 
          li 
            a(href=`${page.link}`).root__nav-element=page.title
