@import '../../vars.scss';

@mixin standard-button-shadow($color) {
  box-shadow: 0 0.25rem 0 0 $color;
}

.standard-button {
  position: relative;
  line-height: 1.2;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 900;
  color: $white;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  background: $white;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &_color {
    &_primary {
      @include standard-button-shadow($primary);
      color: $primary;
      border-color: $primary;

      &:hover,
      &:focus {
        @include standard-button-shadow($primary-dark);
        color: $white;
        background: $primary;
        outline: 0;
      }

      &:active {
        color: $white;
        background: $primary;
        box-shadow: none;
        outline: 0;
      }
    }

    &_secondary {
      @include standard-button-shadow($secondary);
      color: $secondary;
      border-color: $secondary;

      &:hover,
      &:focus {
        @include standard-button-shadow($secondary-darker);
        color: $white;
        background: $secondary;
        outline: 0;
      }

      &:active {
        color: $white;
        background: $secondary;
        box-shadow: none;
        outline: 0;
      }
    }

    &_primarysolid {
      @include standard-button-shadow($primary-dark);
      border-color: $primary;
      background: $primary;

      &:hover,
      &:focus {
        @include standard-button-shadow($primary-dark);
        background: $primary-dark;
        outline: 0;
      }

      &:active {
        background: $primary-dark;
        box-shadow: none;
        outline: 0;
      }
    }

    &_primarydarkest {
      @include standard-button-shadow($primary-darkest);
      color: $primary-darker;
      border-color: $primary-darker;

      &:hover,
      &:focus {
        @include standard-button-shadow($primary-darkest);
        color: $white;
        background: $primary-darker;
        outline: 0;
      }

      &:active {
        color: $white;
        background: $primary-darker;
        box-shadow: none;
        outline: 0;
      }
    }
  }

  &_size{
    &_small {
      padding: 0.33rem 1.2rem;
      font-size: 0.83rem;
    }

    &_big {
      padding: 0.58rem 2.6rem 0.67rem;
      font-size: 1rem;
    }

    &_wide {
      width: 100%;
      padding: 0.58rem 0.83rem 0.67rem;
      font-size: 1rem;
    }

    &_medium {
      padding: 0.42rem 0.8rem 0.42rem;
      font-size: 0.83rem;
    }
  }

  &__ripple {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;

    &_active .standard-button__circle {
      -webkit-animation: a-ripple .4s ease-in;
      animation: a-ripple .4s ease-in;
    }
  }

  &__circle {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
  }
}

@keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}