mixin standard-button(options)
  - const { color, size, type, title } = options;
  -
    const colors = {
      primary: "primary",
      secondary: "secondary",
      primarySolid: "primarysolid",
      primaryDarkest: "primarydarkest",
    };
  -
    const sizes = {
      small: "small",
      big: "big",
      wide: "wide",
      medium: "medium"
    };
  - const isType = type ? type : false;
  button(class=`standard-button js-standard-button standard-button_color_${colors[color] || colors.primary} standard-button_size_${sizes[size] || sizes.big}`, type=isType)= title
    span.standard-button__ripple.js-standard-button__ripple
      span.standard-button__circle.js-standard-button__circle