@import '../../vars.scss';

.colors-type {
   max-width: 1110px;
   min-width: 675px;
   margin: 145px auto;

   &__row {
      display: flex;
      justify-content: space-between;
   }
   &__colors-column {
      min-width: 270px;
   }
   &__type-column {
      min-width: 403px;
   }
}