@import "../../vars.scss";

.footer {
   background: #ffffff;
   &-small-footer {
      background: #ffffff;
      width: 768px;
      margin: 0 auto;
   }
   @media (max-width: 1280px) {
      background: #ffffff;
      width: 100%;
      margin: 0 auto;
   }

   &__body {
      max-width: 1160px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
   }
   &__full {
      border-bottom: 1px solid #e5e5e5;
      box-shadow: 0px 1px 0px $dark10;
      &-small-footer {
         display: none;
      }
      & .footer__body {
         padding: 100px 0;
      }
      &-block {
         width: 160px;
         &:last-child,
         &:first-child {
            width: 260px;
            & .footer__full-block-item {
               line-height: 24px;
               &:first-child {
                  @extend .font-label;
                  margin-bottom: 20px;
               }
            }
         }
         &:first-child {
            & .footer__full-block-item {
               &:first-child {
                  height: 40px;
                  position: relative;
                  bottom: 4px;
                  margin-bottom: 14px;
               }
            }
         }
         &-item {
            margin-bottom: 20px;
            line-height: 18px;
            color: $dark50;
            list-style: none;
            &:first-child {
               @extend .font-label;
               margin-bottom: 21px;
            }
            &:last-child {
               margin-bottom: 0px;
            }
         }
      }
      @media (max-width: 1280px) {
         display: none;
      }
   }
   &__copyright {
      height: 70px;
      font-size: 14px;
      line-height: 22px;
      box-shadow: 0px 10px 20px $dark5;
      &-small-footer {
         padding: 120px 0;
         box-shadow: 0px 10px 20px $dark5;
         & .footer__body {
            flex-direction: column;
            align-items: center;
            & .footer__copyright-text {
               margin-top: 22px;
               margin-bottom: 28px;
            }
         }
      }
      @media (max-width: 1280px) {
         height: 100%;
         padding: 120px 0;
         box-shadow: 0px 10px 20px $dark5;
         & .footer__body {
            flex-direction: column;
            align-items: center;
            & .footer__copyright-text {
               margin-top: 22px;
               margin-bottom: 28px;
            }
         }
      }

      & .footer__body {
         padding: 23px 0;
         @media (max-width: 1280px) {
            padding: 0 0;
         }
      }
      &-logo {
         display: none;
         &-small-footer {
            display: block;
         }
         @media (max-width: 1280px) {
            display: block;
         }
      }
      &-socials {
         width: 112px;
         display: flex;
         justify-content: space-between;
         & a {
            font-size: 24px;
            line-height: 23px;
            background: $primary-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: $primary-color;
         }
      }
   }
}
