-const footerFullBlocksData = [["Навигация", "О нас", "Новости", "Служба поддержки", "Услуги"],["О нас", "О сервисе", "Наша команда", "Вакансии", "Инвесторы"],["Служба поддержки", "Соглашения", "Сообщества","Связь с нами"]]

mixin footer()
   footer.footer 
      .footer__full 
         .footer__body
            .footer__full-block
               img(src=`img/toxin-logo.png` alt=`Toxin Hotel Logo`).footer__full-block-item
               .footer__full-block-item Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            each block in footerFullBlocksData
               .footer__full-block 
                  ul 
                     each item in block 
                        li.footer__full-block-item= item
            .footer__full-block 
               ul
                  li.footer__full-block-item Подписка
                  li.footer__full-block-item Получайте специальные предложения и новости сервиса
                  li.footer__full-block-item
                     +textfield({ type: 'email', placeholder: "Email", subscribe: 1})
      
      .footer__copyright
         .footer__body
            img(src=`img/toxin-logo.png` alt=`Toxin Hotel Logo`).footer__copyright-logo   
            .footer__copyright-text Copyright © 2018 Toxin отель. Все права защищены.
            .footer__copyright-socials
               a(href="https://twitter.com/" target="_blank" class="fab fa-twitter")
               a(href="https://facebook.com/" target="_blank" class="fab fa-facebook-square")
               a(href="https://instagram.com/" target="_blank" class="fab fa-instagram")
