@import '../../vars.scss';

.news {
  position: relative;
  display: flex;
  width: 24rem;
  overflow: hidden;
  color: $white;
  border-radius: 0.25rem;

  &__image {
    position: absolute;
    height: 110%;
    top: 0;
    transform: translate(-26%);
  }

  &__block {
    margin-left: 7.95rem;
    padding: 1.7rem;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    background: $secondary;
    z-index: 1;
  }

  &__title {
    margin: 0;
    font-weight: 300;
    font-size: 2.33rem;
    line-height: 0.95;
  }

  &__date {
    margin-top: 1.2rem;
    font-weight: 900;
    font-size: 0.92rem;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__text {
    margin: 1rem 0;
    font-weight: 400;
    font-size: 0.92rem;
    line-height: 1.25;
  }
}