include ../input/input
include ../textarea/textarea
include ../standard-button/standard-button

mixin form(options)
  -const { name, action } = options
  form.form.js-form(name=name, action=action)
    .form__input
      +input({
        type: "text",
        name: 'name',
        placeholder: "Your Name",
        pattern: "[A-Za-z0-9А-Яа-яЁё\s]{3,}"
      })
    .form__input
      +input({
        type: "email",
        name: "email",
        placeholder: "Your Email",
        pattern: false
      })
    +textarea({
      name: "message",
      placeholder: "Your Message"
    })
    .form__button
      +standard-button({
        color: "primarySolid",
        size: "big",
        type: "submit",
        title: "Submit"
      })