mixin dropdown(attr)
  - const { itemList, width, type } = attr
  .dropdown
    .ezdropdown(class=`${width}-block` class=`${type}`)
      .ezdropdown__selection
      .ezdropdown__menu
        each value in itemList
            .ezdropdown__row(data-id=`${value}`)
              .ezdropdown__rowTitle=value
              span.ezdropdown__rowAction
                button.counterBtn.decr(data-action='decrement').disable -
                span.counter 
                button.counterBtn.incr(data-action='increment') +
        case type 
          when 'sum'
            .ezdropdown__buttons
              span.ezdropdown__button.clr(data-action='clear').hide Очистить
              span.ezdropdown__button(data-action='accept') Применить
