mixin progress-bar(options)
  - const { steps, activeStep } = options;
  - let i = 1;
  ul.progress-bar
    while i <= steps
      if i <= activeStep
        li.progress-bar__item.progress-bar__item_active
          span.progress-bar__step.progress-bar__step_active= i++
      else
        li.progress-bar__item
          span.progress-bar__step= i++