include ../textfield/textfield
include ../button/button

mixin login ()
   .login
      h1.login__title.font-title Войти
      .login__input
         +textfield({ type: "email", placeholder: "Email", width: "def"})
         +textfield({ type: "text", placeholder: "Пароль", width: "def"})
      .login__login-button
         +button({ active: "yes", title: "войти", style: "fillArrow"})
      .login__footer
         span.font-body Нет аккаунта на Toxin?
         +button({ active: "yes", title: "создать", style: "void", page:"../../pages/registration/registration.pug"})

