
.login {
   width: 380px;
   background: #ffffff;
   border: 1px solid rgba(0, 0, 0, 0.12);
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   margin-top: 19px;
   margin-bottom: 19px;
   padding: 40px 30px 30px 30px;
   &__title {
      margin-bottom: 20px;
   }
   &__input {
      margin-bottom: 20px;
   }
   &__loginButton {
      margin-bottom: 30px;
   }
   &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}