@import "../../vars.scss";

.textfield {
   &__form {
      margin-top: 5px;
      margin-bottom: 10px;
      height: $btn-height;
      //This create down arrow
      position: relative;
      display: flex;
      // &:after {
      //    @extend .down-arrow;
      //    right: 15px;
      //    top: 35%;
      // }
   }
   &__input {
      width: 100%;
      color: $dark75;
      border: 1px solid $dark25;
      border-radius: 4px;
      padding: 12px 15px 12px 15px;
      display: flex;
      flex: 1;
      position: relative;
      &:hover,
      &:focus {
         color: $dark75;
         border-color: $dark50;
      }
      &::placeholder {
         color: $dark25;
      }
   }
   &__downArrow {
      color: $dark50;
      font-size: 24px;
      line-height: 24px;
      position: absolute;
      right: 9px;
      top: 25%;
      pointer-events: none;
   }
   &__forwardArrow {
      @extend .textfield__downArrow;
      background: none;
      pointer-events: auto;
      color: $primary-color;
   }
}
