include ../datepicker/datepicker
mixin textfield(options)
  - const { type, placeholder, dropdown, subscribe, calendar, elId } = options
  .textfield
    form(action="").textfield__form
      if (calendar !== "off" & calendar !== undefined)
        +datepicker({placeholder, dropdown, calendar, elId})
      else if (calendar === "off")
        input(type="text", placeholder=placeholder, class="js-mask-date").textfield__input
      else
        input(type=type, placeholder=placeholder).textfield__input
        case subscribe
          when 1
            i.textfield__forward-arrow
