include ../textfield/textfield
include ../button/button
include ../dropdown/dropdown

mixin registration ()
   .registration
      .registration__body
         h1.registration__title.font-title Регистрация аккаунта
         +textfield({ type: 'text', placeholder: "Имя", width: "def"})
         +textfield({ type: 'text', placeholder: "Фамилия", width: "def"})
         +radio()
         h3.font-label дата рождения
         +textfield({ placeholder: "ДД.ММ.ГГГГ", calendar: "on", width: "def", actionButton: "dropdown"})
         h3.font-label данные для входа в сервис
         +textfield({ type: 'email', placeholder: "Email", width: "def"})
         +textfield({ type: 'text', placeholder: "Пароль", width: "def"})
         +toggle(0)
         +button({ active: "yes", title: "подобрать номер", style: "fillArrow"})
         span.font-body Уже есть аккаунт на Toxin
         +button({ active: 'yes', title: "войти", style: "void"})
 



