@import '../../vars.scss';

@mixin arrow-borders () {
  border-width: 0.25rem;
  border-style: solid;
}

.arrow-button {
  @include arrow-borders;
  position: relative;
  width: 4.17rem;
  height: 4.17rem;
  border-radius: 50%;
  cursor: pointer;
  outline: 0;

  &::after {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
  }

  &_direction {
    &_left::after {
      @include arrow-borders;
      border-bottom: none;
      border-left: none;
      transform: rotate(-135deg) translate(-0.66rem, 0.58rem)
    }

    &_right::after {
      @include arrow-borders;
      border-bottom: none;
      border-left: none;
      transform: rotate(45deg) translate(0.47rem, -0.33rem)
    }
  }

  &_color {
    &_primary {
      background: $primary;
      border-color: $primary;

      &::after {
        border-color: $white;
      }

      &:hover {
        background: $white;

        &::after {
        border-color: $primary;
        }
      }

      &:focus,
      &:active {
        outline: 0;
        box-shadow: 0 0 1px 2px $gray-darker;
      }
    }

    &_primarysolid {
      background: $white;
      border-color: $primary;

      &::after {
        border-color: $primary;
      }

      &:hover {
        outline: 0;
        background: $primary;

        &::after {
        border-color: $white;
        }
      }
      &:focus,
      &:active {
        outline: 0;
        box-shadow: 0 0 1px 2px $gray-darker;
      }
    }
  }

  &:disabled {
    background: $background-primary;
    border-color: $background-primary;
    cursor: default;

    &::after {
      border-color: $white;
    }
  }
}