extends ../../layouts/base

include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/global-menu-button/global-menu-button

block vars
  -const title = "UI-Kit Headers-Footers";
  -
    const footerFullBlocksData = [
      ["Навигация", "О нас", "Новости", "Служба поддержки", "Услуги"],
      ["О нас", "О сервисе", "Наша команда", "Вакансии", "Инвесторы"],
      ["Служба поддержки", "Соглашения", "Сообщества","Связь с нами"]
      ]

block content
  +global-menu-button()
  section.headers-footers
    +header({isAuth: false})
    +header({isAuth: true, username: "Юлий Цезарь"})
    +footer({})
    +footer({isMobile: true})
