@import '../../vars.scss';

.event {
  position: relative;
  display: flex;
  width: 24rem;
  overflow: hidden;
  color: $white;
  border-radius: 0.25rem;

  &__image {
    position: absolute;
    height: 110%;
    top: 0;
    transform: translate(-26%);
  }

  &__block {
    margin-left: 7.92rem;
    padding: 1.7rem;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    z-index: 1;

    &_color{
      &_primary {
        background: $primary;
      }

      &_secondary {
        background: $secondary;
      }

      &_default {
        background: $background-primary;
      }
    }
  }

  &__date {
     margin: 1.3rem 0 0;
    font-weight: 300;
    font-size: 6.08rem;
    line-height: 0.34;
  }

  &__month {
    display: inline-block;
    font-size: 2.33rem;
  }

  &__title {
    margin: 2.5rem 0 0;
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__text {
    margin: 0.35rem 0;
    font-size: 0.92rem;
    font-weight: 400;
    line-height: 1.25;
  }

  &__button {
    margin: 1.25rem 0.8rem 0.48rem 1rem;
  }
}