extends ../../layouts/page

include ../../blocks/textfield/textfield
include ../../blocks/dropdown/dropdown
include ../../blocks/checkbox/checkbox
include ../../blocks/pagination/pagination
include ../../blocks/checkbox-expand-list/checkbox-expand-list
include ../../blocks/rich-checkbox/rich-checkbox
include ../../blocks/bullet-list/bullet-list
include ../../blocks/card-room-thumbnail/card-room-thumbnail
include ../../blocks/range-slider/range-slider


block vars
  include ./const.pug

block main
  main.room-search-page
    .room-search-page__body
      section.room-search-page__filters
        .room-search-page__filter-header даты пребывания в отеле
        +textfield({ placeholder: "19 авг - 23 авг", calendar: "on+range", dropdown: 1})
        .room-search-page__filter-header гости
        +dropdown({ itemList: guests, type: "guests" })
        +range-slider({
          label: "диапазон цены",
          description: "Стоимость за сутки пребывания в номере",
          min: 0,
          max: 16000,
          from: 5000,
          to: 10000,
          })
        .room-search-page__filter-header правила дома
        +checkbox({list: checkboxList})
        .room-search-page__filter-header доступность
        +rich-checkbox({list: richList})
        .room-search-page__filter-header удобства номера
        +dropdown({ itemList: apartment, type: "rooms" })
        +checkbox-expand-list({title: "дополнительные удобства", expandList: expandableList})

      section.room-search-page__rooms
        h1.room-search-page__rooms-header Номера, которые мы для вас подобрали
        .room-search-page__rooms-thumbnails
          each room in roomList
            +card-room-thumbnail(room)
        .room-search-page__rooms-pagination 
          +pagination({
            source: JSON.stringify([...Array(180).keys()]),
            pageSize: 12,
            pageRange: 1,
          })
