include ../title/title
include ../search/search
include ../drop-down/drop-down

mixin form-widget()
  section.form-widget
    +title("Search / Drop down")
    .form-widget__search
      +search({
        action: "",
        searchValue: "",
        placeholder: "Search",
        emptyResult: false
      })
    .form-widget__empty-search
      +search({
        action: "",
        searchValue: "I’ve not found what I’m looking for...",
        placeholder: "",
        emptyResult: true
      })
    .form-widget__drop-down
      +drop-down({
        placeholder: "Choose An Option",
        items: [
          "This is option 1",
          "This is option 2",
          "This is option 3",
          "This is option 4"
        ]
      })