
mixin buyRoom ()
   .buyRoom
      .buyRoom__body
         .buyRoom__header 
            wrap 
               span.buyRoom__roomNumber 888
               span.buyRoom__luxeRoom люкс
            wrap
               span.buyRoom__cost  9 990₽ 
               span.buyRoom__period в сутки 
         .buyRoom__inOut
            .font-label прибытие
               +textfield({ placeholder: "ДД.ММ.ГГГГ", calendar: "on", width: "xsm", dropdown: 1})
            .font-label выезд
               +textfield({ placeholder: "ДД.ММ.ГГГГ", calendar: "on", width: "xsm", dropdown: 1})
         .buyRoom__guests 
            .font-label гости
            +dropdown({ itemList: guests, width: "def", type: "sum" })
         .buyRoom__costList 
            .buyRoom__costList-row 
               span 9 990₽ х 4 суток
               span 39 960₽
            .buyRoom__costList-row  
               span Сбор за услуги: скидка 2 179₽
               span.buyRoom__costList-infoButton
               span.buyRoom__costList-item 0₽
            .buyRoom__costList-row 
               span.buyRoom__costList-row-ultraItem Сбор за дополнительные услуги
               span.buyRoom__costList-infoButton
               span 300₽
         .buyRoom__resultRow
            span Итого
            span.buyRoom__dashLine
            span.buyRoom__ultraSum 38 081₽ 
         +button({ active: "yes", title: "забронировать", style: "fillArrow"})
