mixin aboutRoom(options)
   - const { title, subtitle, icon } = options
      .aboutRoom
         i.aboutRoom__icon.material-icons=icon
         .aboutRoom__title=title 
            .aboutRoom__subtitle=subtitle
   