include ../like-btn/like-btn

mixin userFeedback(attr)
   - const { user } = attr
      -const {username, avatar, lastActivity, feedback, likes, isLiked} = user
         .userFeedback
            .userFeedback__left 
               img(src=`${avatar}`).userFeedback__avatar 
               +like-btn({value: likes, isLiked: isLiked})
            .userFeedback__right 
               .userFeedback__username=username
                  .userFeedback__lastActivity=lastActivity
               .userFeedback__feedback=feedback   
