@import "../../vars.scss";

.userFeedback {
   display: flex;
   font-size: 14px;
   line-height: 24px;
   color: $dark75;
   &__avatar {
      margin-right: 10px;
      margin-bottom: 12px;
   }
   &__username {
      font-weight: 700;
   }
   &__lastActivity {
      font-weight: 400;
   }
   &__feedback {
      margin-top: 10px;
      max-width: 653px;
   }
}