@import '../../vars.scss';

.user-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 22.6rem;

  &__info {
    position: relative;
    flex-grow: 1;
    padding: 0.85rem 1%;
    margin-left: 1.1rem;
    border-radius: 0.5rem;
    word-break: break-word;
    color: $text-primary;
    text-align: center;

    &_theme {
      &_default {
        background: $background-primary;
      }

      &_primary {
        background: $primary;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 0.83rem;
      height: 0.83rem;
      background: inherit;
      border-radius: 0 0 0 0.17rem;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &__name {
    margin: 0;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;

    &_theme {
      &_default {
        color: $secondary;
      }

      &_primary {
        color: $white;
      }
    }
  }

  &__job {
    margin: 0;
    font-size: 0.92rem;
    text-transform: uppercase;
    letter-spacing: 0.06rem;

    &_theme {
      &__default {
        color: $text-primary;
      }

      &_primary {
        color: $white;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    margin: 1.17rem 1.4rem 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0 0.7rem;
  }

  &__link:hover path {
    fill: $secondary;
  }

  &__icon {
    width: 2.08rem;
    height: 1.75rem;
    &_theme {
      &_default {
        fill: $gray-dark;
      }

      &_primary {
        fill: $white;
      }
    }
  }
}