@import '../../vars.scss';

.pie-chart {
  position: relative;

  &__chart {
    width: 8.08rem;
    height: 8.08rem;
    border-radius: 50%;
    transform: rotate(-90deg);
    fill: none;
    animation: show100 2s;
  }

  &__scale {
    stroke: $secondary;
    stroke-width: 32;
  }

  &__background {
    fill: $white;
  }

  &__number {
    position: absolute;
    top: 0.42rem;
    width: 8.08rem;
    height: 8.08rem;
    padding-top: 2rem;
    text-align: center;
    font-size: 3.33rem;
    line-height: 1;
    font-weight: 300;
    color: $gray-lighter;
    border-radius: 50%;
  }
}

@keyframes show100 {
  from {
    stroke-dasharray: 0 100;
  }
}