@import "../../vars.scss";

.like-btn {
   margin-bottom: 10px;
   margin-right: 10px;
   button {
      font-family: inherit;
   }
   * {
      padding: 0;
      margin: 0;
      border: 0;
      -ms-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
   }
   :focus,
   :active {
      outline: none;
   }
   &__design {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-between;
      width: 40px;
      height: 20px;
      border: 1px solid $dark25;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #ffffff;
   }
   &__heart {
      font-size: 10px !important;
      line-height: 12px !important;
      color: $dark25;
      margin-left: 4px;
   }
   &__likes {
      font-size: 10px;
      line-height: 12px;
      color: $dark25;
      margin-right: 11px;
      line-height: 16px;
   }
}
.liked {
   color: $primary-color;
   @include gradientBorder;
   $border: 1px;
   border: solid $border transparent;
   &:before {
      margin: -$border;
   }
   .like-btn__heart {
      margin-left: 3px;
   }
   .like-btn__likes {
      margin-left: 3px;
   }
}
.like-btn__box:checked + .like-btn__content:before,
.like-btn__box:not(:checked) + .like-btn__content:before {
   content: "";
   position: absolute;
   left: 0px;
   top: 0px;
   width: 40px;
   height: 20px;
   border: 1px solid $primary-color;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   background-color: #ffffff;
}
.like-btn__box:not(:checked) + .like-btn__content:before {
   border-color: $primary-color;
}

.like-btn__box:checked + .like-btn__content:after,
.like-btn__box:not(:checked) + .like-btn__content:after {
   content: "";
   position: absolute;
   transition: all 0.2s ease;
}
