@import "../../vars.scss";

.like-btn {
   margin-bottom: 10px;
   margin-right: 10px;
   :focus,
   :active {
      outline: none;
   }
   &__design {
      display: flex;
      justify-content: space-evenly;
      width: 40px;
      height: 20px;
      border: 1px solid $dark25;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #ffffff;
   }
   &__heart {
      font-size: 10px !important;
      line-height: 12px !important;
      color: $dark25;
   }
   &__likes {
      font-size: 10px;
      line-height: 12px;
      color: $dark25;
   }
}
.liked {
   color: $primary-color;
   @include gradientBorder;
   $border: 1px;
   border: solid $border transparent;
   &:before {
      margin: -$border;
   }
}
.like-btn__box:checked + .like-btn__content:before,
.like-btn__box:not(:checked) + .like-btn__content:before {
   content: "";
   position: absolute;
   left: 0px;
   top: 0px;
   width: 40px;
   height: 20px;
   border: 1px solid $primary-color;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   background-color: #ffffff;
}
.like-btn__box:not(:checked) + .like-btn__content:before {
   border-color: $primary-color;
}

.like-btn__box:checked + .like-btn__content:after,
.like-btn__box:not(:checked) + .like-btn__content:after {
   content: "";
   position: absolute;
   transition: all 0.2s ease;
}
