mixin like-btn(options)
  - const { value, isLiked=false } = options
  - const liked = isLiked? "liked":""
  - const heart = isLiked? "favorite":"favorite_border"
  .like-btn
    button.like-btn__design(class=`${liked}`)
      i.like-btn__heart(class=`${liked}`).material-icons=heart
      .like-btn__likes(class=`${liked}`)=value