mixin toggle(options)
  - const { isTurn } = options
    .toggle
      label.toggle__content Получать спецпредложения
        input(type="checkbox" checked=isTurn).toggle__wrapper
        .toggle__thumb

