@import "../../vars.scss";
@import "../../text-presets.scss";

.toggle {
  margin-bottom: 10px;
  margin-right: 20px;
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }
  &__content {
    @extend .font-body;
    display: inline-block;
    position: relative;
    padding-left: 50px;
    line-height: 20px;
    color: $dark50;
    cursor: pointer;
  }
  &__thumb {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 20px;
    border: 1px solid $dark25;
    border-radius: 10px;
    background-color: #ffffff;
    transition: ease 200ms;
    &:after {
      content: "";
      position: absolute;
      left: 3px;
      top: 3px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $dark25;
      transition: ease 200ms;
    }
  }
  &__wrapper {
    display: none;
    &:checked {
      & ~ .toggle__thumb {
        border: 1px solid $primary-color;
        &:after {
          left: 23px;
          top: 3px;
          background: $primary-gradient;
            }
      }
    }
  }
}
