include ../checkbox/checkbox

mixin checkboxExpandList(options)
   - const { title, expandList = [], isOpen, width } = options
      -const icon = isOpen ? "expand_less" : "expand_more"
      -const contentClass = isOpen ? "checkboxExpandList__content_open" : "checkboxExpandList__content"

         .checkboxExpandList(class=`${width}-block`)
            .checkboxExpandList__title=title
               i.material-icons.checkboxExpandList__icon=icon 
            wrap(class=`${contentClass}`).checkboxExpandList__content
               +checkbox({list: expandList})
