include ../title/title
include ../message/message

mixin messaging()
  section.messaging
    +title("Messaging")
    .messaging__item
      +message({
        title: "Sarah Brown",
        image: "images/user-1.jpg",
        income: "Hey! So are we cool to meet at the art gallery? Say 8pm",
        form: {
          name: "form",
          action: "need-action.php",
          message: "Yeah that sounds great. See you then.",
        }
      })