@import '../../vars.scss';

.input {
  display: flex;
  justify-content: space-between;

  &::-webkit-input-placeholder {
    color: $text-secondary;
  }

  &__item {
    flex-grow: 1;
    padding: 0.33rem 1.08rem 0.42rem;
    font-size: 1.17rem;
    font-family: 'SourceSansPro', Arial, sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 0.25rem;
    background: $background-primary;

    &:valid:not(:placeholder-shown) + .input__result {
      display: block;
      background: $primary;

      &::before {
        background: $primary;
      }

      &::after {
        content: 'thanks!';
      }
    }

    &:invalid:not(:placeholder-shown) + .input__result {
      display: block;
      background: $secondary;

      &::before {
        background: $secondary;
      }

      &::after {
        content: 'error';
      }
    }
  }

  &__result {
    position: relative;
    display: none;
    width: 24.86%;
    padding: 0.5rem 0;
    margin-left: 0.5rem;
    font-size: 0.83rem;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 900;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0.25rem;

    &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -0.32rem;
    width: 0.42rem;
    height: 0.42rem;
    transform: rotate(45deg) translateY(-50%);
    }
  }
}