@import "./nullstyle.scss";
@import "./vars.scss";
@import "./mixins.scss";

//-Fonts
@include font-face("Quicksand", 700, "normal","fonts/Quicksand-Bold");
@include font-face("Quicksand", 400, "normal","fonts/Quicksand-Regular");
@include font-face("Montserrat", 700, "normal","fonts/Montserrat-Bold");
@include font-face("Montserrat", 400, "normal","fonts/Montserrat-Regular");

html {
  @extend .font-body;
  background: #ffffff;
}
.global-menu-button {
  position: absolute;
  top: 30px;
  left: 30px;
}