.font-body {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   color: $dark75;
 }
 .font-label {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;
   text-transform: uppercase;
   color: $dark100;
 }
 .font-subtitle {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 19px;
   line-height: 23px;
   color: $dark100;
 }
 .font-title {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   color: $dark100;
 }
 