@import "./mixins.scss";

// -Color vars
$dark100: rgba(31, 32, 65, 1);
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.5);
$dark25: rgba(31, 32, 65, 0.25);
$dark10: rgba(31, 32, 65, 0.1);
$dark5: rgba(31, 32, 65, 0.05);
$primary-color: rgba(188, 156, 255, 1);
$secondary-color: rgba(111, 207, 151, 1);
$primary-gradient: linear-gradient(#bc9cff, #8ba4f9);
$primary-gradient05: linear-gradient(rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
$secondary-gradient: linear-gradient(#6fcf97, #66d2ea);
$white-text: #ffffff;


//-Blocks size vars
$btn-height: 44px;
$sm-block-width: 266px;
$xsm-block-width: 150px;

//-Screen size vars
$xl-screen: 1160px;

//-Style class vars
