// -Color vars
$dark100: rgba(31, 32, 65, 1);
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.5);
$dark25: rgba(31, 32, 65, 0.25);
$dark10: rgba(31, 32, 65, 0.1);
$dark5: rgba(31, 32, 65, 0.05);
$primary-color: rgba(188, 156, 255, 1);
$secondary-color: rgba(111, 207, 151, 1);
$primary-gradient: linear-gradient(#bc9cff, #8ba4f9);
$primary-gradient05: linear-gradient(rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
$secondary-gradient: linear-gradient(#6fcf97, #66d2ea);
$white-text: #ffffff;

@mixin gradientText {
   background: $primary-gradient;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: $primary-color;
}
@mixin gradientBorder {
   position: relative;
   color: $primary-color;
   background: #ffffff;
   background-clip: padding-box;  

   &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      border-radius: inherit;  
      background: $primary-gradient;
   }
}

//-Blocks size vars
$btn-height: 44px;
$def-block-width: 320px;
$sm-block-width: 266px;
$xsm-block-width: 150px;

//-Screen size vars
$xl-srceen: 1160px;

// $xs-srceen: 660px;
// $sm-srceen: 690px;
// $md-srceen: 780px;
// $lrg-srceen: 850px;

//-Style class vars
.font-body {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   color: $dark75;
}
.font-label {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;
   text-transform: uppercase;
   color: $dark100;
}
.font-subtitle {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 19px;
   line-height: 23px;
   color: $dark100;
}
.font-title {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   color: $dark100;
}
.def-block {
   width: $def-block-width;
}
.sm-block {
   width: $sm-block-width;
}
.xsm-block {
   width: $xsm-block-width;
}

//-css drawn elements
.down-arrow {
   content: "";
   display: inline-block;
   position: absolute;
   width: 8.35px;
   height: 8.35px;
   border-top: 2px solid $dark50;
   border-right: 2px solid $dark50;
   transform: rotate(135deg);
}
