extends ../../layouts/base

include ../../blocks/card-find-room/card-find-room
include ../../blocks/card-registration/card-registration
include ../../blocks/card-buy-room/card-buy-room
include ../../blocks/card-login/card-login
include ../../blocks/card-room-thumbnail/card-room-thumbnail
include ../../blocks/global-menu-button/global-menu-button

block vars
  include ./const.pug

block content
  +global-menu-button()
  section.cards   
    .cards__body 
      .cards__column
        .cards__card
          +card-find-room()
        .cards__card
          +card-registration()
      .cards__column
        .cards__card
          +card-buy-room()
        .cards__card
          +card-login()
      .cards__column
        .cards__card
          .datepicker-here
        .cards__card
          +card-room-thumbnail({roomNumber: 888, isLuxe: true, isCarousel: true, cost: "9 990", rating:"5", feedbacks:"145"})
        .cards__card
          +card-room-thumbnail({roomNumber: 840, isLuxe: false, isCarousel: false, cost: "9 990", rating:"4", feedbacks:"65"})



