include ../../blocks/cardFindRoom/findRoom
include ../../blocks/cardRegistration/cardRegistration
include ../../blocks/cardBuyRoom/cardBuyRoom
include ../../blocks/cardLogin/cardLogin



mixin cards()
   section.cards   
      .cards__body 
         .cards__column
            .cards__card
               +findRoom()
            .cards__card
               +registration()
         .cards__column
            .cards__card
               +buyRoom()
            .cards__card
               +login()
         .cards__column
            .cards__card
               .datepicker-here
            .cards__card
