include ../../blocks/cardFindRoom/findRoom
include ../../blocks/cardRegistration/cardRegistration
include ../../blocks/cardBuyRoom/cardBuyRoom




mixin cards()
   section.cards   
      .cards__body 
         .cards__column
            .cards__card
               +findRoom()
            .cards__card
               +registration()
         .cards__column
            .cards__card
               +buyRoom()
         .cards__column
            h1 column 3

         