include ../../blocks/cardFindRoom/findRoom
include ../../blocks/cardRegistration/cardRegistration
include ../../blocks/cardBuyRoom/cardBuyRoom
include ../../blocks/cardLogin/cardLogin
include ../../blocks/cardRoomThumbnail/cardRoomThumbnail



mixin cards()
   section.cards   
      .cards__body 
         .cards__column
            .cards__card
               +findRoom()
            .cards__card
               +registration()
         .cards__column
            .cards__card
               +buyRoom()
            .cards__card
               +login()
         .cards__column
            .cards__card
               .datepicker-here
            .cards__card
               +roomThumbnail({roomNumber: 888, isLuxe: true, isCarousel: true, cost: "9 990", rating:"5", feedbacks:"145"})
            .cards__card
               +roomThumbnail({roomNumber: 840, isLuxe: false, isCarousel: false, cost: "9 990", rating:"4", feedbacks:"65"})



