include ../title/title
include ../news/news
include ../event/event

mixin news-and-events()
  section.news-and-events
    +title("News & events")
    .news-and-events__row
      .news-and-events__item
        +news({
          title: "It’s all going downhill",
          date: "24  august  2013",
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.",
          image: "images/news-image.jpg"
        })
      .news-and-events__item
        +event({
          color: "primary",
          day: "24",
          month: "Aug",
          title: "This is the title",
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
          image: "images/event-image.jpg"
        })