@import '../../vars.scss';

.news-and-events {
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1.952rem;

    @media(max-width: $xs) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    margin-bottom: 1rem;
  }
}