block vars

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    title= title ? `Официальный сайт отеля Toxin | ${title}` : "Официальный сайт отеля Toxin"

  body

    block content

    script(src="./main.js")
    script(src="https://kit.fontawesome.com/c8f72f0bac.js" crossorigin="anonymous")
