@import "../../vars.scss";

.rich-checkbox {
    margin-bottom: 10px;
    width: 266px;
}
.rich-checkbox__box:checked,
.rich-checkbox__box:not(:checked) {
    position: absolute;
    left: -9999px;
}

.rich-checkbox__box:checked + .rich-checkbox__title,
.rich-checkbox__box:not(:checked) + .rich-checkbox__title {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: $dark75;
    cursor: pointer;
}

.rich-checkbox__box:checked + .rich-checkbox__title:before,
.rich-checkbox__box:not(:checked) + .rich-checkbox__title:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid $primary-color;
    border-radius: 4px;
    background-color: #ffffff;
}
.rich-checkbox__box:not(:checked) + .rich-checkbox__title:before {
    border-color: $dark25;
}

.rich-checkbox__box:checked + .rich-checkbox__title:after,
.rich-checkbox__box:not(:checked) + .rich-checkbox__title:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
}

.rich-checkbox__box:checked + .rich-checkbox__title:after,
.rich-checkbox__box:not(:checked) + .rich-checkbox__title:after {
    content: "L";
    font-weight: bold;
    font-size: 12px;
    @include gradientText;
    left: 6px;
    top: -1px;
    transform: rotate(45deg) scale(-1, 1);
}

.rich-checkbox__box:not(:checked) + .rich-checkbox__title:after {
    opacity: 0;
}

.rich-checkbox__box:checked + .rich-checkbox__title:after {
    opacity: 1;
}
.rich-checkbox__subtitle {
    margin-left: 30px;
    margin-right: 5px;
    color: $dark50;
    font-size: 12px;
    line-height: 14px;
}
