mixin rich-checkbox(options)
  - const { list } = options
    each item in list
      -const {title, subtitle} = item

      .rich-checkbox
        label.rich-checkbox__content=title
          input(type="checkbox").rich-checkbox__wrapper
          .rich-checkbox__thumb
          .rich-checkbox__subtitle!=subtitle
