mixin rateStars(startNumber)
   .rateStars
      span(class='rateStars__star material-icons' data-rating='1') 
      span(class='rateStars__star material-icons' data-rating='2')  
      span(class='rateStars__star material-icons' data-rating='3')  
      span(class='rateStars__star material-icons' data-rating='4')  
      span(class='rateStars__star material-icons' data-rating='5')  
      input(type="hidden" class="rating-value" value=`${startNumber}`)   
