include ../button/button
include ../hamburger-menu/hamburger-menu
include ../nav-list-dropdown/nav-list-dropdown

mixin header(options)
  -const { isAuth, username } = options
  include ./const.pug

  header.header 
    .header__body 
      a(href="../index/index.pug").header__logo
        img(src=`../../blocks/header/img/toxin-logo.png` alt=`Toxin Hotel Logo`)
      .header__burger.js-header__burger
        +hamburger-menu(burgerList)
      nav.header__nav 
        ul.header__nav-list
          li.header__nav-list-item
            a(href="../index/index.pug" title="О нас") О нас
          li.header__nav-list-item.header__nav-list-dropdown
            span Услуги
            span.header__nav-list-dropdown-icon expand_more
            +nav-list-dropdown(services)
          li.header__nav-list-item
            a(href="../index/index.pug" title="Вакансии") Вакансии
          li.header__nav-list-item
            a(href="../index/index.pug" title="Новости") Новости
          li.header__nav-list-item.header__nav-list-dropdown
            span Соглашения
            span.header__nav-list-dropdown-icon expand_more
            +nav-list-dropdown(docs)
        .header__auth-block
          -if(isAuth)
            .header__auth-block-pipe
            .header__auth-block-username=username
          -else
            .header__auth-block-button
              +button({ isActive: true, title: "войти", style: "void", page:"../../pages/login/login.pug"})
            .header__auth-block-button
              +button({ isActive: true, title: "зарегистрироваться", style: "fill", page:"../../pages/registration/registration.pug"})
