include ../button/button
include ../hamburger-menu/hamburger-menu
include ../nav-header/nav-header

mixin header(options)
  -const { isAuth, username } = options
  include ./const.pug

  header.header 
    .header__body 
      a(href="../index/index.pug").header__logo
        img(src="../../blocks/header/img/toxin-logo.png" alt="Toxin Hotel Logo")
      .header__burger.js-header__burger
        +hamburger-menu(burgerList)
      nav.header__nav 
        +nav-header(nav)
        .header__auth-block
          -if(isAuth)
            .header__auth-block-pipe
            .header__auth-block-username=username
          -else
            .header__auth-block-button
              +button({ isActive: true, title: "войти", style: "void", page:"../../pages/login/login.pug"})
            .header__auth-block-button
              +button({ isActive: true, title: "зарегистрироваться", style: "fill", page:"../../pages/registration/registration.pug"})
