
mixin header(options)
  -const { isAuth, username } = options
  include ./const.pug

  header.header 
    .header__body 
      a(href="../index/index.pug").header__logo
        img(src=`../../blocks/header/img/toxin-logo.png` alt=`Toxin Hotel Logo`)
      .hamburger-menu
        input(id="menu__toggle" type="checkbox")
        label(class="menu__btn" for="menu__toggle")
          span
        ul.menu__box
          each item in burgerList
            li
              a(class="menu__item" href=item[1])=item[0]
      nav.header__nav 
        ul.header__nav-list
          li.header__nav-list-item
            a(href="../index/index.pug" title="О нас") О нас
          li.header__nav-list-item.header__nav-list-dropdown
            span Услуги
            span.material-icons expand_more
            ul.list-dropdown
              each service in services
                li.list-dropdown__item 
                  a(href=service[1] title=service[0])=service[0]
          li.header__nav-list-item
            a(href="../index/index.pug" title="Вакансии") Вакансии
          li.header__nav-list-item
            a(href="../index/index.pug" title="Новости") Новости
          li.header__nav-list-item.header__nav-list-dropdown
            span Соглашения
            span.material-icons expand_more
            ul.list-dropdown
              each doc in docs
                li.list-dropdown__item 
                  a(href=doc[1] title=doc[0])=doc[0]
        .header__auth-block
          -if(isAuth)
            .header__auth-block-pipe
            .header__auth-block-username=username
          -else
            .header__auth-block-button
              a(href="../../pages/login/login.pug") 
                button(name=`войти`).login-btn
                  .login-btn__body
                    .login-btn__title войти
            .header__auth-block-button
              a(href="../../pages/registration/registration.pug") 
                button(name=`зарегистрироваться`).reg-btn
                  .reg-btn__body
                    .reg-btn__title зарегистрироваться
