
mixin header(options)
   -const { isAuth, username } = options
      header.header 
         .header__body 
            a(href="../index/index.pug")
               img(src=`../../img/toxin-logo.png` alt=`Toxin Hotel Logo`).header__logo
            nav.header__nav 
               ul.header__nav-list
                  li.header__nav-list-item_active
                     a(href="#") О нас
                  li.header__nav-list-item
                     span Услуги
                     span.material-icons expand_more
                  li.header__nav-list-item
                     a(href="#") Вакансии
                  li.header__nav-list-item
                     a(href="#") Новости
                  li.header__nav-list-item
                     span Соглашения
                     span.material-icons expand_more
               .header__auth-block
                  -if(isAuth)
                     .header__auth-block-pipe
                     .header__auth-block-username=username
                  -else
                     .header__auth-block-button
                      a(href="../../pages/login/login.pug") 
                        button(name=`войти`).loginBtn
                           wrap.loginBtn__body
                              wrap.loginBtn__title войти
                     .header__auth-block-button
                      a(href="../../pages/registration/registration.pug") 
                        button(name=`зарегистрироваться`).regBtn
                           wrap.regBtn__body
                              wrap.regBtn__title зарегистрироваться
