@import '../../vars.scss';

.player {
  position: relative;

  &__video {
  width: 100%;
  min-height: 28.25rem;
  border: 0;
  border-radius: 0.25rem;
  }

  &__header {
    position: absolute;
    top: 0;
    margin: 2.5rem 3.1rem;
    color: $white;
  }

  &__title {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: -0.1rem;
  }

  &__subtitle {
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__controls {
    position: absolute;
    bottom: 0.42rem;
    display: flex;
    width: 100%;
    background: $black;
  }

  &__playing {
    margin: 0 0.5rem;
    padding: 2rem 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;

    &_icon_play {
      background: transparent url('images/play.svg') center center no-repeat;
    }

    &_icon_pause {
      background: transparent url('images/pause.svg') center center no-repeat;
    }
  }

  &__bar {
    position: relative;
    flex-grow: 1;
    margin: 1.75rem 1.92rem 1.83rem 0;
    border-radius: 0.33rem;
    background: $white;
    cursor: pointer;
  }

  &__progress {
    position: absolute;
    height: 0.42rem;
    top: 0;
    left: 0;
    border-radius: 0.33rem;
    background: $secondary;
  }

  &__full-screen {
    background: $secondary url('images/fullscreen.svg') center center no-repeat;
    background-size: 50%;
    padding: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
}