mixin player(data)
  - const { src, poster, title, subtitle} = data;
  .player.js-player
    video.player__video.js-player__video(src=src, poster=poster)
    .player__header
      .player__title= title
      .player__subtitle= subtitle
    .player__controls
      button.player__playing.js-player__playing.player__playing_icon_play
      .player__bar.js-player__bar
        .player__progress.js-player__progress
      button.player__full-screen.js-player__full-screen