@import '../../vars.scss';

.toggle {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 5.5rem;
  height: 2rem;
  padding: 0.25rem;
  background: $white;
  border-radius: 1.5rem;
  cursor: pointer;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__label {
    position: relative;
    display: block;
    height: inherit;
    padding: 0.17rem 0;
    font-size: 1rem;
    text-transform: uppercase;
    background: $background-primary;
    border-radius: inherit;
    transition: 0.15s ease-out;

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      line-height: 1;
      transition: inherit;
      transform: translateY(-50%);
    }

    &:before {
      content: 'off';
      right: 0.92rem;
      color: $white;
    }

    &:after {
      content: 'on';
      left: 0.92rem;
      color: $white;
      opacity: 0;
    }
  }

  &__input:checked ~ &__label {
    background: #4eb7a8;
  }
  &__input:checked ~ &__label:before {
    opacity: 0;
  }
  &__input:checked ~ &__label:after {
    opacity: 1;
  }

  &__handle {
    transition: left 0.15s ease-out;
    position: absolute;
    top: 0.5rem;
    left: 0.58rem;
    width: 1.5rem;
    height: 1.5rem;
    background: $white;
    border-radius: 50%;
  }

  &__input:checked ~ &__handle {
    left: 3.42rem;
  }
}