@import "../../vars.scss";

.bullet-list {
  padding: 0;
  margin: 0 ;
  margin-bottom: 10px;
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  &__dot {
    display: inline-flex;
    width: 10.43px;
    height: 10px;
    border-radius: 50%;
    background: $dark25;
  }
  &__content {
    display: inline-flex;
    margin-left: 10px;
    font-size: 14px;
    line-height: 24px;
    color: $dark75;
  }
}
